.discover-gotha {
    max-width: 1100px;
    margin: 2rem auto;
    padding: 1.5rem;
    background-color: #f9f9f9;
    border-radius: 12px;
}

.discover-gotha .title,
.discover-gotha .intro {
    text-align: center;
    font-size: larger;
    color: rgb(239, 85, 8);
}


.highlights {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
}

.highlights .item {
    background-color: #91b84f;
    padding: 1rem;
    border-radius: 10px;
    text-align: center;
    font-weight: 600;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.highlights .item img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 6px;
    margin-bottom: 0.5rem;
}

.highlights .item h3 {
    margin: 0.5rem 0;
}

.highlights .item p {
    font-weight: normal;
    font-size: 0.9rem;
}

/* Responsive adjustments */
@media screen and (max-width: 1024px) {
    .highlights {
        grid-template-columns: repeat(2, 1fr);
        /* 2 columns for tablets */
    }
}

@media screen and (max-width: 768px) {
    .highlights {
        grid-template-columns: 1fr;
        /* 1 column for mobile */
    }
}