@media (max-width: 600px){

    header{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    nav{
        justify-content: flex-end;
        flex-direction: row;
    }
    nav a{
        flex: 1 1 100%;

    }
    nav ul{ 
        display:flex;
        align-items: center;


    }
    nav ul li {
		flex: 1 1 100%;
	}
    .hamburger-menu {
        display: flex; 
        align-items: center;
        justify-content: space-between;
    }

    .hamburger-icon {
        display: none; 
    }

    .close-icon {
        display: block;
    }
    .hero-content{
        width: auto;
    }
    .text_home{
        width: auto;
    }
    .container1{
        width: 100%;
        margin: 0;
        padding: 10px;
        display: block;
    }
}





    
