@media (min-width: 768px) {

    main {
        max-width: 1100px;
        margin: auto;
    }

    /* About Section */
    .about-section {
        grid-template-columns: 2fr 1fr;
        align-items: stretch;
    }

    /* Courses */
    .course-list {
        grid-template-columns: repeat(3, 1fr);
    }

    .course-filters {
        justify-content: center;
    }

    .course-filters button {
        max-width: 150px;
    }
}